body{
    color: #967f66;
    font-family: monospace;
    background-color: #ffe4c4;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
}
#game-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%; 
}
canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
#video {
  display: none;
}
button {
    color: #967f66;
    font-family: monospace;
    border-style: solid;
    background-color: #ffe4c4;
    border-color: #967f66;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

footer {
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  background: #ffe4c4;
}
#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}
#hud {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: rgb(0, 0, 0);
    pointer-events: auto;
    font-size: large;
    font-weight: bolder;
}
.inventory-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.inventory-item img {
    width: 32px; 
    height: 32px;
    image-rendering:pixelated ;
}